{% extends 'admin/adminbase.html' %}

{% block content %}

<section class="section-conten padding-y bg">
    <div class="container">
      <div class="row">
        <aside class="col-md-3">
          <!--   SIDEBAR   -->
          <ul class="list-group">
           
           
            <a class="list-group-item active" href="{% url 'admin_home' %}"> Dashboard </a>
            <a class="list-group-item" href="#">User Management </a>
            <a class="list-group-item" href="#">Category Management</a>
            <a class="list-group-item" href="#">Product Management</a>
            <a class="list-group-item" href="#">Order Management </a>
            
          </ul>
          <br />
          <a class="btn btn-light btn-block" href="{% url 'admin_signout' %}">
            <i class="fa fa-power-off"></i> <span class="text">Log out</span>
          </a>
          <!--   SIDEBAR .//END   -->
        </aside>
    </div>
</div>
</section>



        

{% endblock %}