{% extends 'base.html' %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
	<div class="container">
		{% if 'search' in request.path %}
		<h2 class="title-page">Search Results</h2>
		{% else %}
		<h2 class="title-page">Our Store</h2>
		{% endif %}

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">
				<form action="{% url 'filter_products' %}" method="post">
					{% csrf_token %}
					<div class="card">
						<article class="filter-group">
							<header class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true"
									class="">
									<i class="icon-control fa fa-chevron-down"></i>
									<h6 class="title">Categories</h6>
								</a>
							</header>
							<div class="filter-content collapse show" id="collapse_1">
								<div class="card-body">
									{% for category in links %}
									<div class="container text-center">
										<label class="checkbox-btn">
											<input type="radio" name="category_slug" value="{{category.slug}}">
											<span class="btn btn-light"  style="width:100px;"> {{ category.categoryName }} </span>
										</label>
									</div>
									{% endfor %}
									{% comment %} <ul class="list-menu">

										<li><a href="{{category.get_url}}"></a></li>

									</ul> {% endcomment %}

								</div> <!-- card-body.// -->
							</div>
						</article> <!-- filter-group  .// -->
						<article class="filter-group">
							<header class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true"
									class="">
									<i class="icon-control fa fa-chevron-down"></i>
									<h6 class="title">Colour </h6>
								</a>
							</header>
							<div class="filter-content collapse show " id="collapse_4">
								<div class="card-body ">
									<div class=" container d-flex text-center">
										<div>
											<label class="checkbox-btn">
												<input type="radio" name="color" value="blue">
												<span class="btn btn-light"> Blue </span>
											</label>
										</div>

										<div>
											<label class="checkbox-btn">
												<input type="radio" name="color" value="black">
												<span class="btn btn-light"> Black</span>
											</label>
										</div>
										<div>
											<label class="checkbox-btn">
												<input type="radio" name="color" value="white">
												<span class="btn btn-light"> white </span>
											</label>
										</div>
									</div>
								</div><!-- card-body.// -->
							</div>
						</article> <!-- filter-group .// -->
						</article> <!-- filter-group  .// -->
						<article class="filter-group">
							<header class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true"
									class="">
									<i class="icon-control fa fa-chevron-down"></i>
									<h6 class="title">Sizes </h6>
								</a>
							</header>
							<div class="filter-content collapse show" id="collapse_4">
								<div class="card-body">
									<div class="">
										<label class="checkbox-btn">
											<input type="radio" name="size" value="small">
											<span class="btn btn-light"> Small </span>
										</label>

										<label class="checkbox-btn">
											<input type="radio" name="size" value="medium">
											<span class="btn btn-light"> Medium </span>
										</label>

										<label class="checkbox-btn">
											<input type="radio" name="size" value="large">
											<span class="btn btn-light"> Large </span>
										</label>
									</div>
								</div>
							</div>
							<button class="btn btn-block btn-primary">Apply</button>
						</article>

					</div> <!-- card.// -->
				</form>
			</aside> <!-- col.// -->
			<main class="col-md-9">

				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto"><b>{{ product_count }}</b> items found</span>

					</div>
				</header><!-- sect-heading -->

				<div class="row">
					{% if products %}
					{% for product in products %}
					<div class="col-md-4">
						<figure class="card card-product-grid">
							<div class="img-wrap">
								<a href="{{ product.get_url }}"><img src="{{ product.image.url }}"></a>

							</div> <!-- img-wrap.// -->
							<figcaption class="info-wrap">
								<div class="fix-height">
									<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
									<div class="price-wrap mt-2">
										<span class="price">₹ {{ product.price }}</span>
									</div> <!-- price-wrap.// -->
								</div>
								<a href="{{product.get_url}}" class="btn btn-block btn-primary">View Details </a>
							</figcaption>
						</figure>
					</div> <!-- col.// -->
					{% endfor %}
					{% else %}
					<div>
						<h2>No Result Found. Try Again</h2>
					</div>
					{% endif %}
				</div> <!-- row end.// -->


				<nav class="mt-4" aria-label="Page navigation sample">
					{% if products.has_other_pages %}
					<ul class="pagination">
						{% if products.has_previous %}
						<li class="page-item"><a class="page-link"
								href="?page={{ products.previous_page_number}}">Previous</a></li>
						{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						{% endif %}
						{% for i in products.paginator.page_range %}
						{% if products.number == i %}
						<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
						{% else %}
						<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
						{% endif %}
						{% endfor %}
						{% if products.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{ products.next_page_number}}">Next</a>
						</li>
						{% else %}
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
						{%endif%}
					</ul>
					{% endif %}
				</nav>

			</main> <!-- col.// -->

		</div>

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content%}